<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Post</h1>
<form action="/posts" method="POST">
  <input type="text" name="title" placeholder="Title" required><br>
  <textarea name="content" placeholder="Content" required></textarea><br>
  <input type="file" name="image" accept="image/"><br>
  <button type="submit">Publish</button>
</form>

</body>
</html>